<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">XXX大学失物招领平台</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;平台介绍</h3>
        <ul>
            <li>XXX大学失物招领平台是一个寻物启事失物招领网站平台，以帮人悦己为理念，以提供贴心，快捷的失物认领服务为原则，以营造爱心网络弘扬拾金不昧的传统美德为宗旨。以免费发布信息的形式，通过寻物启事，招领启事等专栏，帮您失而复得。</li>
        </ul>
    </div>
</div>
</body>
</html>