<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lostfound.common.dao.MessageDao">

	<select id="get" resultType="com.lostfound.common.domain.MessageDO">
		select `ID`,`Title`,`Substance`,`Status`,`UserName`,`LeaveTime` from message where ID = #{value}
	</select>

	<select id="list" resultType="com.lostfound.common.domain.MessageDO">
		select `ID`,`Title`,`Substance`,`Status`,`UserName`,`LeaveTime` from message
        <where>  
		  		  <if test="id != null and id != ''"> and ID = #{id} </if>
		  		  <if test="title != null and title != ''"> and Title = #{title} </if>
		  		  <if test="substance != null and substance != ''"> and Substance = #{substance} </if>
		  		  <if test="status != null and status != ''"> and Status = #{status} </if>
		  		  <if test="username != null and username != ''"> and UserName = #{username} </if>
		  		  <if test="leavetime != null and leavetime != ''"> and LeaveTime = #{leavetime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from message
		 <where>  
		  		  <if test="id != null and id != ''"> and ID = #{id} </if>
		  		  <if test="title != null and title != ''"> and Title = #{title} </if>
		  		  <if test="substance != null and substance != ''"> and Substance = #{substance} </if>
		  		  <if test="status != null and status != ''"> and Status = #{status} </if>
		  		  <if test="username != null and username != ''"> and UserName = #{username} </if>
		  		  <if test="leavetime != null and leavetime != ''"> and LeaveTime = #{leavetime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.lostfound.common.domain.MessageDO">
		insert into message
		(
			`ID`, 
			`Title`, 
			`Substance`, 
			`Status`, 
			`UserName`, 
			`LeaveTime`
		)
		values
		(
			#{id}, 
			#{title}, 
			#{substance}, 
			#{status}, 
			#{username}, 
			#{leavetime}
		)
	</insert>
	 
	<update id="update" parameterType="com.lostfound.common.domain.MessageDO">
		update message 
		<set>
			<if test="title != null">`Title` = #{title}, </if>
			<if test="substance != null">`Substance` = #{substance}, </if>
			<if test="status != null">`Status` = #{status}, </if>
			<if test="username != null">`UserName` = #{username}, </if>
			<if test="leavetime != null">`LeaveTime` = #{leavetime}</if>
		</set>
		where ID = #{id}
	</update>
	
	<delete id="remove">
		delete from message where ID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from message where ID in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>